#databaseErrorPopupElement {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50px;
  right: 18px;
  max-width: 400px;
  max-height: 70%;
  padding: 0px 0px 24px 0px;
  background-color: #F9FBFC;
  border-radius: 5px;
  gap: 0px;
  border: 1px solid rgb(81, 158, 227);
}

#databaseErrorPopupElement .img {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

#databaseErrorPopupElement .text {
  font-size: 12px;
  line-height: 18px;
  color: rgb(76, 87, 115);
  font-weight: 400;
  padding: 0px 16px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, "Source Code Pro", source-code-pro, monospace;
  overflow: auto;
}
